html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  background-color: #1f65b3 !important;
}

button:hover {
  background-color: #fc165f !important;
}

.MainLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

.Navbar__image {
  padding: 5px;
}

.Navbar__button {
  margin-left: 20px !important;
}

.PageContent__wrapper {
  flex-grow: 1;
}

.Sidebar_wrapper {
  -webkit-box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.1);
  background-color: #1f65b3;
}

.MenuItem__buttonWrapper {
  margin: 20px 0 0 !important;
}

.MenuItem__button {
  display: flex;
  padding: 5px;
}

.MenuItem__button_active {
  background-color: #fc165f !important;
  color: white !important;
}

.MenuItem__button:hover {
  background-color: #fc165f !important;
  transition: 0.3s;
}

.MenuItem__image {
  height: 60px;
  margin: auto;
}
